{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>    {% block title %} {% endblock %}
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-inverse navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Saba Siddiqi</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home:homepage' %}">Home</a></li>
     <!-- Dropdown -->
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Graph Plotter
      </a>
      <div class="dropdown-menu">
        <a href="{% url 'home:gplot' %}" class="dropdown-item" href="#">Version 1</a><br>
        <a href="{% url 'home:gplot2' %}" class="dropdown-item" href="#">Version 2</a>
      </div>
    </li>




    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a target="_blank" href="{% url 'home:resume' %}">Resume</a></li>
      <li><a target="_blank" href="https://github.com/SabaSiddiqi"><span class="fab fa-github fa-lg"></span> Github </a></li>
      <li><a target="_blank" href="https://www.linkedin.com/in/saba-siddiqi-77428071/"><span class="fab fa-linkedin fa-lg"></span> LinkdIn </a></li>
      <li><a target="_blank" href="https://www.kaggle.com/sabasiddiqi/"><span class="fab fa-kaggle fa-lg"></span> Kaggle </a></li>

    </ul>
  </div>
</nav>

<div>
    {% block content %}
    {% endblock %}
</div>



</body>


</html>
