{% extends 'home/base.html' %}

{% block title %}
Saba Siddiqi
{% endblock %}

{% block content %}

<style>

/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
   word-wrap: break-word;
   margin:10px;
}

</style>

<div class="container" >

    <h1 style="color:silver;">Saba's Blog</h1><br>

        {% for each_model in blog_detail %}
        {% if not each_model.draft %}

        <ul class="list-group">
            <li class="list-group-item disabled">
                <b><h2 style="margin-left:40px;">{{each_model.title}}</h2></b>
                <h5 style="float:right;">Updated at : <b>{{each_model.updated_at}}</b></h5><br>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <h5><em>{{each_model.description|safe}}</em></h5><br>
                    <div class="a">{{each_model.content|safe}}</div>
                    <hr>
                    <p style="float:right;">Created at: <b>{{each_model.created_at}}</b></p>
                </div>
            </li>
                </ul>
            </li>
        </ul>

        {% endif %}
        {% endfor %}


</div>


{% endblock %}

