{% extends 'home/base.html' %}

{% block title %}
Saba Siddiqi
{% endblock %}




{% block content %}

<style>

/* Add a card effect for articles */
.card {
   display:block;
   padding: 10px 10px 10px 10px;
   margin:10px;
   height:300px;
   white-space: normal;

}

.a{
  overflow: hidden;
  display: inline-block;
  max-width:100%;
  height:130px;


}




</style>

<div class="container" >

    <h1 style="color:white;">Saba's Blog</h1><br>

    <div class="row">

        {% for each_model in blog %}
        {% if not each_model.draft %}

        <ul class="list-group col-md-4">
            <li class="list-group-item disabled">
                <h4><a href="{% url 'home:blogdetail' each_model.title|slugify %}"><b>{{each_model.title}}</b></a></h4>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <h5><em>{{each_model.description}}</em></h5>
                    <div class="a">{{each_model.content|safe}}</div>
                    <hr>
                    <p style="float:right;">Updated at: <b>{{each_model.updated_at}}</b></p>
                </div>
            </li>
                </ul>
            </li>
        </ul>

                    {% endif %}
        {% endfor %}



    </div>




</div>


{% endblock %}

