
{% extends 'home/base.html' %}

{% block content %}

<form method="post">
    <div>
        {% csrf_token %}
        {{form.x}}
    {{form.y}}
    <button type="submit" name="add">Add</button>
    </div>
</form>
<form method="post" >
    {% csrf_token %}
    <button type="submit" name="clear">Clear</button>
</form>

<div class="container">{% csrf_token %}
  <h2>Bordered Table</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>X-Coordinate</th>
        <th>Y-Coordinate</th>
      </tr>
    </thead>
    <tbody>

    {% for value in data %}
    <tr>
        <td>{{value.x}}</td>
        <td>{{value.y}}</td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
</div>

<form method="post" >
    {% csrf_token %}
    <input type="submit" value="Select" name="col">
</form>

<img src="/home/img.png/">

{% endblock %}

{% block image %}

{% endblock %}
