{% extends 'home/base.html' %}

{% block title %}
Saba Siddiqi
{% endblock %}

{% block content %}


<style>
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: white;
}

.j{
margin-top:10px;
background-color:rgba(0, 51, 51,0.7);
color:white;}



</style>


<div class="container">

<div class="row">

    <div class="col-md-8">
        <ul class="list-group">
        {% load mptt_tags %}
        {% recursetree index %}
            <li class="list-group-item disabled" style=""  >
                <h4><b>{{ node.name }}</b></h4></li>
            {% if not node.is_leaf_node %}
                {% for i in node.children.all %}
                    <li class="list-group-item" style="background-color:#141f1f;">
                        <h4 style="color:white;"  >
                            <a href={{i.link}}>{{i.name}}</a>
                            </h4>
                    {% if not i.is_leaf_node %}
                         <ul class="list-group "  >
                        {% for j in i.children.all %}
                            <li class="list-group-item j">
                                 <a style="padding-left:10px;" target="_blank" href={{j.link}}>{{j}}</a>
                            </li>
                        {% endfor %}
                         </ul>
                    {% endif %}
                {% endfor %}
            </li>
            {% endif %}
        </li>
    {% endrecursetree %}
        </ul>





    </div>

    <div class="col-md-4">

        <ul class="list-group">
        <li class="list-group-item disabled"><h4>About Me</h4></li>
            <li class="list-group-item">
                   Hello, I am Saba.
                       I am a Machine Learning Enthusiast,
                       with a background in Electrical and Computer Engineering.
                      I spent most of my time solving Machine Learning Problems.
                       And I love to paint.

                    <br><h5 align="left"><b>- Learning, to make a difference.</b></h5></h4>


            </li>
        </li>
        </ul>

        <ul class="list-group">
        <li class="list-group-item disabled"><h4>It's Never too Late</h4></li>
                       <li class="list-group-item">
                           <h4>
                           <q><i>All our dreams can come true,
                               if we have the courage to pursue them.</i></q>
                               <br><h5 align="right">– Walt Disney</h5></h4>
                       </li>
            </li>
        </ul>

        <ul class="list-group">
        <li class="list-group-item disabled"><h4>Recent Blogs</h4></li>
               <li class="list-group-item">
                    <div >
                    {% for each_model in blog %}
                        {% if not each_model.draft %}
                        <h5 style="margin-left:10px;">
                            <a href="{% url 'home:blogdetail' each_model.title|slugify %}" style="color:black;">
                                {{each_model.title}}
                            </a>
                        </h5>
                        {% endif %}
                    {% endfor %}
                    </div>

               </li>
                </ul>
            </li>
        </ul>


    </div>




</div>

</div>






{% endblock %}

