{% extends 'home/base.html' %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-6 hello">

            <div class="row">
                <form method="post">{% csrf_token %}
                    <div class="col-md-6">
                        Enter X-Coordinate:  {{form.x}}
                        <br>
                        <br>
                        Enter Y-Coordinate:  {{form.y}}
                    </div>
                    <div class="col-md-6">
                        <button type="submit" name="add">Add Values</button>
                        <br>
                        <br>
                    </div>
                </form >
                <form method="get">{% csrf_token %}
                    <button type="submit" name="clear">Clear Graph</button>
                </form>
            </div>

            <h2>Graph Data</h2>
            <div class="row table-wrapper-scroll-y">
                {% csrf_token %}
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th class="">X-Coordinate</th>
                                <th class="">Y-Coordinate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for value in data %}
                            <tr>
                                <td class="">{{value.x}}</td>
                                <td class="">{{value.y}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>

            <div class="row">
                <form method = "post" action = ".">{% csrf_token %}
                <select name = "colors" >
                    <option value="r">Red</option>
                    <option value="b">Blue</option>
                    <option value="g">Green</option>
                    <option value="c">Cyan</option>
                    <option value="m">Magenta</option>
                    <option value="y">Yellow</option>
                    <option value="k">Black</option>
                    <option value="w">White</option>
                </select>
                <button  type = "submit" > Select </button>

                <select name = "types" >
                    <option value="line">Line</option>
                    <option value="scatter">Scatter</option>
                </select>
                <button  type = "submit"  name="droplist" > Select </button>
                </form>
            </div>
        </div>
        <div class="col-md-6 hello">
            <img src="/home/img.png/">
        </div>
    </div>

</div>

{% endblock %}
