.b-set{
    border-style:solid;
    border-color:white;
    padding:20px;
    border-width:2px;
    background-color:WhiteSmoke;
    border-radius:25px;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


